body{
    color:#1E0E6E;
    font-family: Myriad, sans-serif;
    max-width:90%;
    margin: auto;
}

p,ul,li,td{
    font-size: 20px;
    line-height: 1.6;
}

a{ text-decoration: none;
    font-size: 20px;
    background-color:#1E0E6E;
    color: white;
}
a:hover {
    background-color: cyan;
}

a:visited {
    background-color: mediumslateblue;
}

blockquote{
    width:45%;
margin:auto;
    font-size:160%;
    background-color: #ECECE4;
    border-left:dashed 3px #1E0E6E;
}